body { 
  margin: 0px; 
  overflow: hidden; 
  font-family: calibri; 
  background: #E9F7FC; 
}

.container {
  width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.judg {
  display: inline-block;
  margin: 0 auto;
  padding: 8px 24px;
}

.kon_img {
  width: 50%;
  height: 50%;
}