body { 
  margin: 0px; 
  overflow: hidden; 
  font-family: calibri; 
  background: #E9F7FC; 
}

#sign_kon1 {
  display: block; 
  max-width: 90%; 
  margin: 0 auto; 
  height: 100px; 
  font-size: 30px;
}

#sign_kon2 {
  display: block; 
  max-width: 90%; 
  margin: 0 auto; 
  height: 100px; 
  font-size: 30px;
}

#sign_kon_OK {
  display: block; 
  max-width: 90%; 
  margin: 0 auto; 
  height: 100px; 
  font-size: 30px;
}